#login{
	height:auto;
  width:35%;
  padding-left:20px;
  margin:0 auto;
  box-shadow:0px 0px 5px #CCC;
}
.el-header{
  // display: none;
}
// #login-title{
// 	color:white;
// 	font-size:20px;
// 	font-weight:bold;
// 	/*border:1px solid red;*/
// 	text-align:left;
// }
// .login-user{
// 	margin-top:40px;
// }
// #login-user-input{
// 	border:0px;
// 	border-bottom:3px solid white;
// 	background-color:transparent;
// 	border-radius: 0px;
// 	color:white;
// }
// #login-user-input2{
// 	border:0px;
// 	border-bottom:3px solid white;
// 	background-color:transparent;
// 	border-radius: 0px;
// 	color:white;
// }
// .login-btn{
// 	float:left;
// 	border-radius: 0px;
// 	background: rgb(216, 168, 104);
// 	border:none;

// 	&:hover{
// 		background: #f2cea5;
// 		transition:all 0.3s;
// 	};
// }
// .register{
// 	float:left;
// 	color:white;
// 	margin-left:20px;
// 	&:hover{
// 		cursor:pointer;
// 		color: rgb(216, 168, 104);
// 		transition: all 0.3s;
// 	};
// }
// #login-ds{
// 	color:white;
// 	text-align:left;
// 	font-size:14px;
// 	margin-top:40px;
// }
// .login-icon{
// 	width:22px;
// 	background-color:white;
// 	border-radius: 11.5px;
// 	margin-left:20px;
// 	float:left;
// }